.MainBox{
  background-color: gray;
  height: 50vh;
}

.display{
  margin: 5px;
  color: white;
  background-color: black;
}

.numPad{
  display: flex;
}

.calcButton{
  margin: 5px;
  padding: 5px;
  height: 10vh;
  color: black;
  background-color: lightgray;
}
